<!--This will be the landing page for the site, homepage with header and image, testimonials underneath, information about what services
are offered at the law firm  -->
<div class="landing-header">

    <img class="landing-image img-fluid" src="images/lawphoto.jpg" height="auto" max-width="100%"/>
</div>

<div class="middle-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col middle-text">
        THIS IS THE PICTURE OF THE ATTORNEY
        <a href="#"></a>
      </div>
      <div class='middle-text col'>
        <h2>Protecting the Rights of Our Clients in Court and out of Court  </h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere vestibulum diam id ultrices. Duis laoreet, elit at sodales porttitor, sapien nunc consectetur justo, sit amet condimentum diam nisi quis nulla. Sed ac tellus vitae augue
        pulvinar vel rhoncus sed, condimentum eget tortor. Nunc tincidunt sollicitudin nibh, non molestie neque suscipit vel. Proin faucibus viverra neque vitae luctus. Fusce nec sollicitudin tellus. Donec finibus

      </div>
    </div>

  </div>
</div>


<div class="bottom-section">
  <div>
    we will contain some more information here need to decide what that information and div's will be/images as well.
  </div>
</div>

<div class="contact-us">
  <div>
    self explanatory contact us section/footer, with columns of routes.
  </div>
</div>
