<!--This will be the landing page for the site, homepage with header and image, testimonials underneath, information about what services
are offered at the law firm  -->
<div class="landing-header">
  <div>
    We will contain an image here and additional information contained within a div here.
  </div>
</div>

<div class="middle-section">
  <div>
    We will contain more information here and perhaps some routes with links to take to other places of the page, ie. Staff, Contact us, Directions
    as well as cases handled.
  </div>
</div>

<div class="bottom-section">
  <div>
    we will contain some more information here need to decide what that information and div's will be/images as well.
  </div>
</div>

<div class="contact-us">
  <div>
    self explanatory contact us section/footer, with columns of routes.
  </div>
</div>
