body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  height: 150px;
}

.logo{
  height: 160px;
  width: auto;
}

.landing-header{
  background-image: url("../images/lawphoto.jpg");
  background-color: rgb(29, 117, 155);
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
  padding-top: 90px;
  height: 800px;
}

.landing-title{
  padding-top: 100px;
  color: white;
  font-size: 80px;
  text-decoration-style: solid;
}

.middle-section{
  background-color: rgb(35, 64, 109);
  height: 400px;
  width: auto;
}

.middle-text{
  padding-top: 50px;
  color: white;
}


.bottom-section{
  padding-top: 50px;
  color: white;
  background-color: rgb(100, 176, 209);
  height: 400px;
  width: auto;
}

.contact-us{
  background-color: lightgrey;
  height: 200px;
  width: auto;
}
